body{
    background-color: rgba(248, 246, 250, 0.751);
}
.text-red{
color: rgb(105, 2, 2);
}

.text-green{
    color: rgb(10, 112, 10);
}
.bg-yellow{
    color:  rgb(39, 60, 1);
}
.bg-green2{
    color: green;
}
.text-purple{
    color: rgb(72, 2, 72);
}